body {
    padding: 0;
    margin: 0;
    font-size: 25px;
}

header {
    background-color: #0a0b44;

}

.logo {
    width: 20%;
    border: 1px solid red;
    margin: auto;
}

.logo img {
    width: 100%;

}

.container-fondo {
    background-color: #cdcdcf;
    background-image: url(../imgs/wallForm.jpg);
    background-attachment: fixed;
}

.titulo h5 {
    margin: 0;
    padding: 25px;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

.container-campos {
    border: 1px solid rgb(139, 5, 5);
    width: 85%;
    margin: auto;
}

fieldset {
    border: 1px solid black;
    margin: 0;
    padding: 0;
}

.campo {
    border: 1px solid green;
    width: 60%;
    margin: 15px auto;
    box-sizing: border-box;
}

.campo label,
.campo input,
.campo textarea {
    margin: 5px 5%;
    width: 90%;
    font-size: 20px;
}

.btnRegistro input {
    display: block;
    margin: 20px auto;
    font-size: 20px;

}

.recomendacionCuenta{
    text-align: center;
    margin: 5px;
    font-size: 20px;
}

.recomendacionCuenta p{
    display: inline-block;
    font-style: italic;
   
}

footer {
    background-color: #0a0b44;
}

.titulo-footer{
    color: white;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-size: 15px;
    padding: 10px 0px;
}

.cuerpo-footer{
    color: white;
    padding: 20px;
    font-size: 15px;
}

.redes-sociales{
     width: 100%;
     display: flex;
     border: 1px solid pink;
     justify-content: center;
}

.redes-sociales button{
    background-color: transparent;
    border: none;
    width: 15%;
    margin: 0px 15px;
}

.redes-sociales button img{
    width: 100%;
}

.mapa iframe{
    display: block;
    margin: 0px auto;
}

.fin-footer{
    color: white;
    padding: 5px;
}


@media (min-width: 701px) {

    body{
        font-size: 30px;
    }

    .logo{
        max-width: 120px;
    }

    .campo label,
    .campo input{
        font-size: 20px;
    }

    .recomendacionCuenta{
        font-size: 20px;
    }

    .container-footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .caja-footer{
        width: 33%;
        border: 1px solid yellow;
    }

    .mapa iframe{
        width: 100%;
    }
 
}
