body {
    padding: 0;
    margin: 0;
    font-size: 25px;
}

header {
    background-color: #0a0b44;

}

.logo {
    width: 20%;
    border: 1px solid red;
    margin: auto;
}

.logo img {
    width: 100%;

}

.container {
    background-color: #cdcdcf;
}

.titulo h5 {
    margin: 0;
    padding: 25px;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}


.container-campos {
    border: 1px solid rgb(139, 5, 5);
    width: 85%;
    margin: auto;
}

fieldset {
    border: 1px solid black;
    margin: 0;
    padding: 0;
}

.campo {
    border: 1px solid green;
    width: 95%;
    margin: 15px auto;
    box-sizing: border-box;
}

.campo label,
.campo input {
    margin: 5px 5%;
    width: 90%;
    font-size: 25px;
}

.btnRegistro input {
    display: block;
    margin: 20px auto;
    font-size: 20px;

}

.recomendacionCuenta{
    text-align: center;
    margin: 5px;
    font-size: 20px;
}


.recomendacionCuenta p{
    display: inline-block;
   
}

footer {
    color: white;
    background-color: #0a0b44;
}


@media (min-width: 701px) {

    body{
        font-size: 30px;
    }

    .logo{
        max-width: 120px;
    }

    .campo label,
    .campo input{
        font-size: 30px;
    }

    .recomendacionCuenta{
        font-size: 25px;
    }
 
}
