body {
    padding: 0;
    margin: 0;
}

header {
    background-color: #0a0b44;
    padding: 5px 0;
    flex-wrap: wrap;
}

.cupon {
    background-color: #ad3027;
    padding: 15px;
    border: 3px solid black;
}

.cupon p {
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    margin: 0 0;
}

.mensaje {
    box-sizing: border-box;
    text-align: end;
    margin: 5px;
    display: none;
}

.mensaje a {
    border: 1px solid salmon;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-style: italic;
}

.top-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
    align-items: flex-start;
    align-items: center;
}

/* ESCONDO EL MENU DEL MEDIO */

.barraBusqueda {
    display: none;
}

.hamburger {
    background-color: #0a0b44;
    border: 1px solid yellow;
    width: 15%;
    box-sizing: border-box;
}

.hamburger img {
    width: 100%;
}

.logo {
    border: 1px solid blueviolet;
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
}

.logo img {
    width: 100%;
}

.contenedor-der {
    display: flex;
    border: 1px solid greenyellow;
    width: 130px;
    justify-content: space-between;
}

.inicioSesion {
    border: 1px solid orange;
    background-color: #0a0b44;
    box-sizing: border-box;
    width: 30%;
}

.inicioSesion img {
    width: 100%;
}

.busqueda {
    background-color: #0a0b44;
    border: 1px solid red;
    box-sizing: border-box;
    width: 30%;
}

.busqueda img {
    width: 100%;
}

.carrito {
    background-color: #0a0b44;
    border: 1px solid green;
    box-sizing: border-box;
    width: 30%;
}

.carrito img {
    width: 100%;
}

.menu-desplegable ul, .menu-desplegable-titulo ul {
    margin: 0;
    padding: 0;
}

.menu-desplegable ul li, .menu-desplegable-titulo ul li {
    list-style: none;
    background-color: black;
    margin: 5px;
    padding: 5px 10px;
}

.menu-desplegable ul li a, .menu-desplegable-titulo ul li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.subMenu ul li {
    background-color: #585858
}

.subMenu ul li a {
    margin: 3%;
}

.subMenuSecundario ul li a {
    margin: 15%;
}

.inicioSesion-mobile {
    margin-top: 15px;
}

.btn-whatsapp {
    display: block;
    width: 5%;
    height: 12%;
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    line-height: 80px;
    text-align: center;
    z-index: 999;
}

/* SLOGAN */

.slogan {
    color: black;
    text-align: center;
    font-style: italic;
    width: 100%;
    background-color: #cdcdcf;
}

.slogan hr {
    width: 90%;
    height: 2%;
    margin: 2px auto;
}

.slogan h1 {
    margin: 0;
    padding: 25px;
    color: black;
    font-size: 20px;
}

/* CARRUSEL */

.container-carousel {
    background-image: url(../imgs/white3.jpg);
    background-repeat: round;
}

/* PROMOCIONES */

.promociones {
    text-align: center;
    padding: 15px 0;
}

.promociones h1 {
    margin: 20px;
}

/* LISTA DE CARTAS
 */

.container {
    margin-top: 110px !important;
    border: 1px solid blue;
}

.card {
    border: none;
    outline: none;
    background-color: white !important;
    border-radius: 20px;
    transition: transform .3s;
}

.card:hover {
    transform: translateY(-15px);
    transition: transform .3s;
}

.text1 {
    font-size: 13px;
    color: black;
}

.info {
    line-height: 17px;
}

.star {
    font-size: 25px !important;
    color: yellow;
}

.cost span {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.boton {
    background-color: black;
}

.card:hover {
    opacity: .8;
    cursor: pointer;
}

.promociones button {
    margin: 10px;
    background-color: white;
    color: black;
    padding: 10px;
    border: 1px solid black;
}

.promociones button:hover {
    background-color: black;
    color: white;
}

/* BANNER */

.banner {
    background-color: #ff4a4f;
    color: white;
    text-align: center;
}

.banner h1 {
    padding: 15px;
    font-weight: bolder;
}

.banner p {
    box-sizing: border-box;
    font-size: 20px;
    margin: 0;
    padding: 5px;
}

.banner button {
    margin: 15px;
    background-color: white;
    color: black;
    border: none;
    padding: 10px;
}

.banner button:hover {
    background-color: black;
    color: white;
}

/* PRODUCTOS */

.container-productos {
    padding: 15px;
    background-color: #cdcdcf;
    text-align: center;
}

.container-productos h1 {
    color: black;
    padding: 15px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.producto {
    width: 30%;
    margin: 10px auto;
    padding: 3%;
    border: 2px solid black;
    background-color: rgb(192, 191, 191);
    cursor: pointer;
}

.producto:hover {
    -webkit-box-shadow: 5px 7px 7px 8px rgba(0, 0, 0, 0.72);
    box-shadow: 5px 7px 7px 8px rgba(0, 0, 0, 0.72);
}

.producto img {
    width: 100%;
}

.producto p {
    font-size: 20px;
    width: 100%;
    margin: 5% 0;
    text-align: center;
}

.container-productos button {
    margin: 15px;
    background-color: white;
    color: black;
    padding: 10px;
    border: 1px solid black;
}

.container-productos button:hover {
    background-color: black;
    color: white;
}

/* NEWSLETTER */

.newsletter {
    background-color: brown;
    padding: 20px;
    background-image: url(../imgs/the-background-292720_1280.png);
}

.newsletter h2 {
    border: 1px solid yellow;
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    color: black;
    width: 50%;
    text-decoration: underline;
    font-size: 20px;
}

.newsletter input {
    display: block;
    margin: auto;
    padding: 10px;
    width: 50%;
    text-align: center;
}

/* FOOTER */

footer {
    background-color: #0A0B44;
}

.caja-footer {
    display: flex;
    flex-direction: column;
}

.titulo-footer {
    font-family: 'Asap', sans-serif;
    color: white;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-size: 20px;
    padding: 10px 0px;
}

.cuerpo-footer p {
    font-family: 'Asap', sans-serif;
    color: white;
    padding: 10px;
    font-size: 20px;
}

.redes-sociales {
    width: 100%;
    display: flex;
    border: 1px solid pink;
    justify-content: center;
}

.redes-sociales button {
    background-color: transparent;
    border: none;
    width: 10%;
    margin: 0px 15px;
}

.redes-sociales button img {
    width: 100%;
}

.alFinal {
    margin: auto;
}

.mapa iframe {
    display: block;
    margin: 0px auto;
}

.fin-footer {
    color: white;
    padding: 5px;
}
/*LISTA DE PRODUCTOS */

.wrap-container {
    width: 100%;
    margin: auto;
    
}

.wrap-container h1 {
    color: black;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px 0px;
}

.wrap-container h1::after {
    content:'';
    width: 100%;
    height: 1px;
    background: grey;
    margin: 20px 0px;
}


.category-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:#0A0B44;
    padding: 5px 10px;
    color: #f9f9f9;
}

.category-list .category-items {
    display: flex;
    width: 100%;
    padding: 10px 0px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
}

.scroll {
    overflow-y: scroll;
}

.category-rama {
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.products-list {
    text-align: center;
}

.products-list img {
    width: 85%;
    display: block;
    margin: auto;    
}

.products-items a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}





/* ESTILO DE producto-detalle */

.contenedor-detalle
{
    padding: 10px;
}

.variedad-talles
{
display: flex;
justify-content:start;
padding: 10px;
flex-wrap: wrap;
}
.variedad-talles li
{
list-style: none;
margin: 5px;
}
.tabla-talles
{
    text-decoration-line: underline;
}
.tabla-talles a
{
    border: transparent !important;
}
.variedad-talles a
{
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    border: solid 1px;
    border-radius: 50px;
    color: #000;

}
.t-sin-stock{
    color: rgb(199, 195, 195) !important;
    border: solid 1px rgb(199, 195, 195) !important;
    border-radius: 50px !important;

}

.btn-cart-fav
{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    
}
.comprar-container
{
    padding: 5px;
}

.add-to-cart
{
    width: 100%;
    height: 50px;
    
}
.fav-container
{
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
    border-radius: 50px;
    height: 50px;
    width: 50px;
}
.descripcion
{
    padding: 10px;
}
.descripcion h2
{
    padding: 20px 0px;
}


@media (min-width: 745px) {
    /*     ESCONDO ELEMENTOS
 */
    .hamburger, .busqueda, .vista-mobile, .menu-desplegable, .subMenu, .tarjetasMobile {
        display: none;
    }
    /*     MUESTRO ELEMENTOS  */
    
    
    .wrap-container {
        width: 90%;
        margin: auto;
        
    }

    .store-wrapper {
        display: flex;
        flex-direction: grow;
    }
    
    .category-list {
        display: flex;
        flex-direction: column;
        width: 18%;
        background-color: white; 
    }
    
    .category-list .category-items {
        color: black;
    }
    
    hr {
        margin: 1rem 0;
        color: black !important;
        background-color: currentColor;
        border: 0;
        opacity: .25;
    }
    
    
    
    .category-rama {
        color: black;
    }
    
    
    
    .products-list {
        width: 82%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 5%;
    }

    .products-list .products-items {
        width: 22%;
        background:white;
        margin-left: 3%;
        
    }
    
    .products-list .products-items img {
        width: 100%;
    }
    
    
    
    
    
    
    .mensaje, .barraBusqueda, .menu-desplegable {
        display: block;
    }
    .mensaje a, .titulo-footer, .cuerpo-footer p {
        font-size: 15px;
    }
    .barraBusqueda {
        width: 60%;
    }
    .barraBusqueda input {
        width: 100%;
    }
    .top-menu {
        justify-content: space-around;
    }
    .logo {
        width: 15%;
    }
    .logo img {
        width: 100%;
    }
    .contenedor-der {
        width: 100px;
    }
    .inicioSesion, .carrito {
        width: 40%;
    }
    .btn-whatsapp {
        width: 2%;
    }
    .menu-desplegable {
        display: flex;
    }
    .menu-desplegable ul {
        display: flex;
        margin: auto;
    }
    .menu-desplegable ul li, .menu-desplegable-titulo ul li {
        padding: 5px 10px;
    }
    #carouselExampleFade {
        width: 100%;
    }
    .banner p {
        font-size: 15px;
    }
    .producto {
        padding: 1%;
        width: 14%;
        margin: 10px;
    }

    .producto p {
        font-size: 15px;  
    }

    container-productos button {
        padding: 1%;
    }
    .container-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .caja-footer {
        width: 33%;
        border: 1px solid yellow;
    }
    .mapa iframe {
        width: 100%;
    }
    .titulo-footer {
        font-size: 15px;
    }
    .cuerpo-footer p {
        font-size: 15px;
    }
    .contenedor-principal-detalle, .contenedor-principal-footer, .contenedor-principal-header
    {
    max-width: 1200px;
    margin: auto;
    }
    .main-container
    {
    display: flex;
    }
    .caja-carusel, .contenedor-detalle
    {
        width: 50%;
    }

}