body {
    padding: 0;
    margin: 0;
}

header {
    background-color: #0a0b44;
    padding: 5px 0;
    flex-wrap: wrap;
}

.cupon {
    background-color: #ad3027;
    padding: 15px;
    border: 3px solid black;
}

.cupon p {
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    margin: 0 0;
}

.mensaje {
    box-sizing: border-box;
    text-align: end;
    margin: 5px;
    display: none;
}

.mensaje a {
    border: 1px solid salmon;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-style: italic;
}

.top-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
    align-items: flex-start;
    align-items: center;
}

/* ESCONDO EL MENU DEL MEDIO */

.barraBusqueda {
    display: none;
}

.hamburger {
    background-color: #0a0b44;
    border: 1px solid yellow;
    width: 15%;
    box-sizing: border-box;
}

.hamburger img {
    width: 100%;
}

.logo {
   /*  border: 1px solid blueviolet; */
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
}

.logo img {
    width: 100%;
}

.contenedor-der {
    display: flex;
    border: 1px solid greenyellow;
    width: 130px;
    justify-content: space-between;
}

.inicioSesion {
    border: 1px solid orange;
    background-color: #0a0b44;
    box-sizing: border-box;
    width: 30%;
}

.inicioSesion img {
    width: 100%;
}

.busqueda {
    background-color: #0a0b44;
    border: 1px solid red;
    box-sizing: border-box;
    width: 30%;
}

.busqueda img {
    width: 100%;
}

.carrito {
    background-color: #0a0b44;
    border: 1px solid green;
    box-sizing: border-box;
    width: 30%;
}

.carrito img {
    width: 100%;
}

.menu-desplegable-1 {
    display: none;
}

.menu-desplegable ul, .menu-desplegable-1 ul, .menu-desplegable-titulo ul {
    margin: 0;
    padding: 0;
}

.menu-desplegable ul li, .menu-desplegable-titulo ul li, .menu-desplegable-1 ul li {
    list-style: none;
    background-color: black;
    margin: 5px;
    padding: 5px 10px;
}

.menu-desplegable ul li a, .menu-desplegable-titulo ul li a, .menu-desplegable-1 ul li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.subMenu ul li {
    background-color: #585858
}

.subMenu ul li a {
    margin: 3%;
}

.subMenuSecundario ul li a {
    margin: 15%;
}

.inicioSesion-mobile {
    margin-top: 15px;
}

.btn-whatsapp {
    display: block;
    width: 5%;
    height: 12%;
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    line-height: 80px;
    text-align: center;
    z-index: 999;
}

/* ESTILOS DE producto-detalle */

.contenedor-detalle {
    padding: 10px;
}

.titulo-detalle {
    margin: 5px;
}

.talle-container h3 {
    margin: 5px;
}

.variedad-talles {
    display: flex;
    justify-content: start;
    padding: 10px;
    flex-wrap: wrap;
    margin: 5px;
}

.variedad-talles li {
    list-style: none;
    margin: 10px;
}

.container-tablaTalles a {
    box-sizing: border-box;
    padding: 5px 10px;
    font-size: 15px;
    display: block;
    margin: 10px auto;
    text-decoration: none;
}

.tabla-talles {
    text-decoration-line: underline;
}

.tabla-talles a {
    border: transparent !important;
}

.variedad-talles a {
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    border: solid 1px;
    border-radius: 50px;
    color: #000;
}

.btnComprar {
    text-align: center;
    margin: 20px 0px;
}

.social-media {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-evenly;
}

.t-sin-stock {
    color: rgb(199, 195, 195) !important;
    border: solid 1px rgb(199, 195, 195) !important;
    border-radius: 50px !important;
}

.btn-cart-fav {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.comprar-container {
    padding: 5px;
}

.add-to-cart {
    width: 100%;
    height: 50px;
}

.fav-container {
    display: flex;
    justify-content: center;
    background-color: rgb(231, 224, 226);
    border-radius: 50px;
}

.favoritos {
    width: 50px;
    height: 50px;
}

.descripcion {
    padding: 10px;
}

.descripcion h2 {
    padding: 20px 0px;
}

/* FOOTER */

footer {
    background-color: #0a0b44;
}

.caja-footer {
    display: flex;
    flex-direction: column;
}

.titulo-footer {
    font-family: 'Asap', sans-serif;
    color: white;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-size: 20px;
    padding: 10px 0px;
}

.cuerpo-footer p {
    font-family: 'Asap', sans-serif;
    color: white;
    padding: 10px;
    font-size: 20px;
}

.redes-sociales {
    width: 100%;
    display: flex;
    border: 1px solid pink;
    justify-content: center;
}

.redes-sociales button {
    background-color: transparent;
    border: none;
    width: 10%;
    margin: 0px 15px;
}

.redes-sociales button img {
    width: 100%;
}

.alFinal {
    margin: auto;
}

.mapa iframe {
    display: block;
    margin: 0px auto;
}

.fin-footer {
    color: white;
    padding: 5px;
}

@media (min-width: 745px) {
    /*     ESCONDO ELEMENTOS
 */
    .hamburger, .busqueda, .vista-mobile, .menu-desplegable, .menu-desplegable-1, .subMenu, .tarjetasMobile {
        display: none;
    }
    /*     MUESTRO ELEMENTOS  */
    .wrap-container {
        width: 90%;
        margin: auto;
    }
    hr {
        margin: 1rem 0;
        color: black !important;
        background-color: currentColor;
        border: 0;
        opacity: .25;
    }
    .mensaje, .barraBusqueda, .menu-desplegable, .menu-desplegable-1 {
        display: block;
    }
    .mensaje a, .titulo-footer, .cuerpo-footer p {
        font-size: 15px;
    }
    .barraBusqueda {
        width: 60%;
    }
    .barraBusqueda input {
        width: 100%;
    }
    .top-menu {
        justify-content: space-around;
    }
    .logo {
        width: 15%;
    }
    .logo img {
        width: 100%;
    }
    .contenedor-der {
        width: 100px;
    }
    .inicioSesion, .carrito {
        width: 40%;
    }
    .btn-whatsapp {
        width: 2%;
    }
    .menu-desplegable, .menu-desplegable-1 {
        display: flex;
    }
    .menu-desplegable ul, .menu-desplegable-1 ul {
        display: flex;
        margin: auto;
    }
    .menu-desplegable ul li, .menu-desplegable-titulo ul li, .menu-desplegable-1 ul li {
        padding: 5px 10px;
    }
    .container-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .caja-footer {
        width: 33%;
        border: 1px solid yellow;
    }
    .mapa iframe {
        width: 100%;
    }
    .titulo-footer {
        font-size: 15px;
    }
    .cuerpo-footer p {
        font-size: 15px;
    }
    .contenedor-principal-detalle, .contenedor-principal-footer, .contenedor-principal-header {
        max-width: 1200px;
        margin: auto;
    }
    .main-container {
        display: flex;
    }
    .caja-carusel, .contenedor-detalle {
        width: 50%;
    }
}